@{
    ViewData["Title"] = "Home Page";
}

@*This is where the bowlers are displayed.*@

@model IndexViewModel

@*List  the team that is currently selected*@
<h3>@Model.Team</h3>

@foreach (var x in Model.Bowlers)
{
    <p>@x.BowlerFirstName @x.BowlerMiddleInit @x.BowlerLastName, @x.BowlerAddress, @x.BowlerCity @x.BowlerZip, @x.BowlerPhoneNumber </p>
}

<div page-info="@Model.PageNumberingInfo" page-url-team="@Model.Team">

</div>